assets/APIKeysConfig.json
fabric.properties
release
.mp4
bin/
gen/
build/
target/

# Android Studio / Gradle
*.iml
*.idea/
*.classpath
*.gradle/
*.project
*.settings/

# data files
assets/*.xml
res/raw/*.mp4