<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.wb.nextgenlibrary"
	android:installLocation="auto"
	android:versionCode="6"
	android:versionName="v1.0.0" >
	<uses-sdk
		android:minSdkVersion="21"
		android:targetSdkVersion="21" />

	<!-- Support all screens -->
	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:xlargeScreens="true" />




	<application>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
	</application>

</manifest>