<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.wb.nextgenlibrary"
	android:installLocation="auto"
	android:versionCode="6"
	android:versionName="v1.0.0" >
	<uses-sdk
		android:minSdkVersion="21"
		android:targetSdkVersion="21" />

	<!-- Support all screens -->
	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:xlargeScreens="true" />




	<!-- Flixster -->
	<application>

	<!--android:name="com.wb.nextgen.NextGenExperience"
    android:icon="@drawable/appicon_152"
    android:allowClearUserData="true"
    android:label="@string/app_name" >

    <uses-library
        android:name="com.google.android.maps"
        android:required="false" />

    <meta-data android:name="net.hockeyapp.android.appIdentifier" android:value="38d269d0079144528e95c04cdc386452" />

    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCMzsJN-trHSzOsVLFc0ZrTzKA-YtlN7ac"/>
    <meta-data android:name="com.crashlytics.ApiKey" android:value="672734f5363b289563cbb85b6da95e747cc7eabd"/>

    <activity
        android:name=".activity.StartupActivity"
        android:launchMode="singleTop"
        android:screenOrientation="sensorPortrait"
        android:configChanges="orientation|screenSize"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>



        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="flxvid" />
        </intent-filter>
    </activity>
    <activity
        android:name=".activity.NextGenActivity"
        android:screenOrientation="sensorLandscape"
        android:configChanges="orientation|screenSize"
        android:theme="@style/Theme.AppCompat.NoActionBar">

    </activity>
    <activity
        android:name=".activity.WebViewActivity"
        android:screenOrientation="sensorLandscape"
        android:configChanges="orientation|screenSize"
        android:theme="@style/Theme.AppCompat.NoActionBar">

    </activity>

    <activity
        android:name=".activity.InterStitialVideoPlayerActivity"
        android:screenOrientation="sensorLandscape"
        android:configChanges="orientation|screenSize"
        android:theme="@style/Theme.Flx.NoTitle">

    </activity>



    <activity android:name=".activity.NextGenPlayer"
        android:screenOrientation="fullSensor"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:exported="false"
        android:theme="@style/PlayerActionBar" >

    </activity>

    <activity android:name=".activity.NextGenExtraActivity"
        android:screenOrientation="sensorLandscape"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:exported="false"
        android:theme="@style/ExtraActionBar" >
    </activity>
    <activity android:name=".activity.ECGalleryActivity"
        android:screenOrientation="sensorLandscape"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:exported="false"
        android:theme="@style/ExtraActionBar" >
    </activity>
    <activity android:name=".activity.ECSceneLocationActivity"
        android:screenOrientation="sensorLandscape"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:exported="false"
        android:theme="@style/ExtraActionBar" >
    </activity>
    <activity android:name=".activity.ECVideoActivity"
        android:screenOrientation="sensorLandscape"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:exported="false"
        android:theme="@style/ExtraActionBar" >
    </activity>
    <activity android:name=".activity.ActorGalleryActivity"
        android:screenOrientation="sensorLandscape"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:exported="false"
        android:theme="@style/ExtraActionBar" >
    </activity>
    <activity android:name=".activity.TheTakeShopCategoryActivity"
        android:screenOrientation="sensorLandscape"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:exported="false"
        android:theme="@style/ExtraActionBar" >
    </activity>-->


		<!-- ATTENTION: This was auto-generated to add Google Play services to your project for
         App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
	</application>

</manifest>